<h1>Welcome to shop.ch</h1>


<br>

<% if buyer_signed_in? %>
    <li><%= link_to 'Edit account', edit_buyer_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_buyer_session_path, :method=>'delete' %></li>
<% else %>
    <li><%= link_to 'Sign in', new_buyer_session_path %></li>
    <li><%= link_to 'Sign up', new_buyer_registration_path %></li>
<% end %>

<% if buyer_signed_in? %>
    <li><%= link_to 'Buyers', buyers_path %></li>
<% end %>
